*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/maven
local.properties
/kotlin-js-store
/docs
/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/nek.xcuserdatad/UserInterfaceState.xcuserstate
/iosApp/iosApp.xcodeproj/xcuserdata/nek.xcuserdatad/xcschemes/xcschememanagement.plist
