# Default ignored files
/shelf/
/workspace.xml
/appInsightsSettings.xml
/compiler.xml
/deploymentTargetDropDown.xml
/gradle.xml
/kotlinc.xml
/migrations.xml
/misc.xml
/modules.xml
/vcs.xml
/modules
/inspectionProfiles
/artifacts
/discord.xml
/dataSources
/uiDesigner.xml
/codeStyles/codeStyleConfig.xml
/deploymentTargetSelector.xml
/detekt.xml
/studiobot.xml
/deployment.xml
